<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blocks_With_GCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98EC563E1CF57A570054D43E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98EC56571CF57A570054D43E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98EC56621CF57A570054D43E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
